#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
    border-color: black;
    width: 500px;
    height: 500px;
}
#score{
    font-family:"Permanent Marker", cursive;
    font-size: 100px;
}
#resetBtn{
     font-family:"Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 13px;
    cursor: pointer;
     

}